<section>
    <ul>
        <li class="bookResult">
            <img class ="bookImage" src=<%= book.image_url%> />
            <p class = "bookTitle"><%= book.title %></p>
            <p class="bookDetailedInfo"><%= book.author %></p>
            <p class="bookDescription"><%= book.description %></p>
            <p class="bookDetailedInfo">ISBN: <%= book.isbn %></p>
            <p class="bookDetailedInfo">Bookshelf: <%= book.shelf %></p>
        </li>
    </ul>
</section>