<!DOCTYPE HTML>
<html>

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <section class="book">
            <h2>
                <%= books.length %> Saved Books
            </h2>
            <ul>
                <% books.forEach(book => {%>
                <li class="bookResult">
                    <img class ="bookImage" src=<%= book.image_url%> />
                    <p class = "bookTitle"><%= book.title %></p>
                    <p class="bookAuthor"><em><%= book.author %></em></p>
                    <p class="bookDescription"><%= book.description %></p>
                </li>
                <%}) %>
            </ul>
        </section>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>

</html>