<!DOCTYPE HTML>
<html>

    <head>
        <title>Book App</title>
        <link rel="stylesheet" type="text/css" href="/styles/reset.css">
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
        <link rel="stylesheet" type="text/css" href="/styles/layout.css">
        <link rel="stylesheet" type="text/css" href="/styles/modules.css">
    </head>
    <body>
        <h1>Hello World!</h1>
        <h2>Click below to search through Google Books API
            <br><a href="/searches/new">CLICK HERE</a>
        </h2>
        <ul>
            <% result.forEach(element => { %>
                <li> <h2>title:<%= element.title %></h2> 
                    <h2>Author: <%= element.author %></h2>
                    <img src= <% element.img %> >
                    <p><% element.description %> </p>
                    <p><% element.isbn %> </p>
                </li>
           <% }) %>
           <li>number of book save: <%= result.length %> </li>
        </ul>   
    </body>
=======

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <section class="book">
            <h2 class="headerDiv">
                <%= books.length %> Saved Books
            </h2>
            <ul>
                <% books.forEach(book => {%>
                <li class="bookResult">
                    <%- include('books/detail', { book:book, page }) %>
                </li>
                <%}) %>
            </ul>
        </section>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
</body>


</html>